nav{
    width: 100%;
    height: fit-content;
    position: fixed;
    display: flex;
    z-index: 1;
    color: var(--dark-orange);

}

.logo{
    display: flex;
    position: relative;
    top: 30px;
    font-weight: 830;
    left:25px;
    width: fit-content;

}
.nav-links{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 30px;
    left: 150px;
}

.pages a{
   color: gray
}

.mobile-menu{
  display: none;
}

@media (max-width: 710px){
  .logo{
    left: 70%;
  }
  .nav-links{
      display: none;
  }
  .nav-links-mobile{
      position:absolute;
      display: block;
      list-style: none;
      background-color: rgba(34, 46, 100, 0.781);
      left: 25px;
      top:80px;
      padding: 10px;
      transition: all 0.5s ease-out;
      width: 30%;
    }
    .pages {
        margin: 20px;
    }
    .pages a{
        color: white;
        text-align: center;
        padding: 32px;
        transition: all 0.5s ease;
     }
     .mobile-menu{
        width: 50px;
        height: 60px;
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #1f2235;
        border: 2px solid var(--dark-orange);
        outline: none;
        top: 20px;
        left: 25px;
      }

}

@media (max-width: 610px){
    .logo{
      left: 40%;
    }
}
@media (max-width: 375px){

  .logo{
    left: 40%;
  }
}





